<p><%= experience.title %></p>
        <div class="w3-container">
          <h5 class="w3-opacity"><b><%= experience.title %></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= experience.start %> - <%= experience.end %></span></h6>
          <p><%= experience.body %></p>
          <hr>
        </div>

<p>
  
  <%= link_to 'Destroy Experience', [experience.resume, experience],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>