<p><%= education.title %></p>
        <div class="w3-container">
          <h5 class="w3-opacity"><b><%= education.title %></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= education.start %> - <%= education.end %></h6>
          <p><%= education.body %></p>
          <hr>
        </div>

<p>
  
  <%= link_to 'Destroy Education', [education.resume, education],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>